* {
	shape-rendering: crispEdges;
}

html, body {
	background-color: #737373;
	margin: 0px;
	padding: 0px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

/*body {
  margin-top: -44px;
}*/

h1 {
  font-weight: 900;
  font-size: 28px;
  color: white;
  pointer-events: none;
  /*padding-left: 8px;*/
  margin-top: 32px;
  margin-bottom: -8px;
}

h2 {
  font-size: 12px;
  padding-bottom: 14px;
  color: silver;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  padding-top: 0px;
  color: white;
}

p {

  color: white;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;
}

ol, li {
  color: white;
  display: block;
}

li {
  padding-top: 0px;
}

footer, footer p {
  font-weight: 400;
  font-size: 12px;
  color: white;
  display: block;
  padding-left: 10px;
  padding-bottom: 2px;
}

footer a, p a {
  color: white;
}
footer a:hover, p a:hover {
  color: silver;
}

iframe {
  border: red 1px solid;
}
