/*
Styles for filters on the left
*/

/*----------------------------------------------------------------------------*/
/*Dropdowns*/
/*----------------------------------------------------------------------------*/

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 2px;
}

.button {
	background-color: #fff;
	padding: 3px 6px 3px 6px;
	border: #555 1px solid;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}

.button:hover {
  background-color: transparent;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 250px;
  overflow: auto;
  padding: 4px;
  max-height: 250px;
  z-index: 1;
}

.dropdown:hover .dropcontent {
  display: block;
}

#selectAllCons, #deselectAllCons {
	padding: 1px 4px;
}

#selectAllCons:hover, #deselectAllCons:hover {
	background-color: #eee;
}

.dropcontent input {
  color: #000000;
  font-weight: 700;
  padding: 4px;
  text-decoration: none;
  display: inline;
}

.dropcontent label, .dropcontent a {
  color: #000000;
  font-weight: 400;
  padding: 4px;
  display: inline;
}


/*all/any selectors in-text*/
input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	font-weight: bold;
	padding: 0 3px;
}

input[type="radio"]+label:hover {
	border-bottom: solid 2px black;
}

input[type="radio"]:checked+label {
	background-color: #11c2f9;
}


/*----------------------------------------------------------------------------*/
/*custom checkboxes*/
/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
/*----------------------------------------------------------------------------*/
#codesCheckboxes {
	padding: 3px 0 9px 0;
}

/* Customize the label (the container) */
.cb-container {
  display: block;
  position: relative;
  padding-left: 27px;
  margin: 3px 0;
  cursor: pointer;
  /*font-size: 22px;*/
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  /*background-color set in js*/
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
	opacity: 0.5;
  /*background-color: #ccc;*/
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*select and deselect buttons*/
/*a#selectAllCodes, a#deselectAllCodes {
	background-color: #fff;
	padding: 3px 6px;
	border: #555 1px solid;
	border-radius: 5px;
}

a#selectAllCodes:hover, a#deselectAllCodes:hover {
	background-color: transparent;
}*/