/*
Styles for filters on the left
*/

/*
Dropdowns
*/

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 2px;
}

.dropbtn {
  background-color: #737373;
  color: silver;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border: 1px solid silver;
}

.dropbtn:hover {
  background-color: #838383;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: silver;
  width: 250px;
  overflow: auto;
  padding: 4px;
  max-height: 250px;
  z-index: 1;
}

.dropdown:hover .dropcontent {
  display: block;
}

.dropcontent input {
  color: #000000;
  font-weight: 700;
  padding: 4px;
  text-decoration: none;
  display: inline;
}

.dropcontent label, .dropcontent a {
  color: #000000;
  font-weight: 400;
  padding: 4px;
  display: inline;
}

#agreementDetails table {
	table-layout: fixed;
	word-break: break-word;
	width: 100%;
	/*vertical-align: top;*/
}

#agreementDetails td {
	/*border: 1px solid #000;*/
	width: 120px;
	/*font-weight: bold;*/
}
#agreementDetails td+td {
	width: auto;
}


/*Legend*/
.legend {
  margin-top: 5px;
  margin-left: 4px;
  pointer-events: none;
}

.legend td, .legend tr {
  padding: 4px;
  font-size: 12px;
  line-height: 10px;
}

td#Pre {
  background-color: #8dd3c7;
}
td#SubPar {
  background-color: #ffffb3;
}
td#SubComp {
  background-color: #fdb462;
}
td#Imp {
  background-color: #b3de69;
}
td#Cea {
  background-color: #fb8072; /*#e41a1c;*/
}
td#Other {
  background-color: #8c8c8c;
}
td#FrCons {
  background-color: #80b1d3;
}
td#Ren {
  background-color: #bebada;
}
/* Codes (colors match map's flowers) */
td#paxHrFra.color{ /*HrFra*/
  background-color: #f46c38;
}
td#paxPol.color{
  background-color: #f5003d;
}
td#paxPolps.color{
  background-color: #01557a;
}
td#paxEps.color{
  background-color: #7a56a0;
}
td#paxMps.color{
  background-color: #029680;
}
td#paxTerps.color{
  background-color: #fbdd4b;
}
td#paxTjMech.color{
  background-color: #fc96ab;
}
td#paxGeWom.color{
  background-color: #59c9df;
}


