/*
Style for Select iFrame
now used for select div on the left
needs cleaning up! 
*/



/*a {
  text-decoration: underline;
}*/
a.pdf, a.cod {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: silver;
}
a.pdf {
  float: left;
}
a.cod {
  float: left;
  margin-left: 24px;
}
input {
  margin-left: 8px;
}
a#SelectAllCodes {
  float: left;
  color: silver;
  text-decoration: underline;
}
a#DeselectAllCodes {
  float: left;
  margin-left: 24px;
  color: silver;
  text-decoration: underline;
}
a#SelectAllCodes:hover, a#DeselectAllCodes:hover, p.filterViews a:hover, td.text:hover {
  color: #ffffff;
}


/*
Dropdowns
*/

.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 2px;
}

.dropbtn {
  background-color: #737373;
  color: silver;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border: 1px solid silver;
}

.dropbtn:hover {
  background-color: #838383;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: silver;
  width: 250px;
  overflow: auto;
  padding: 4px;
  max-height: 250px;
  z-index: 1;
}

.dropdown:hover .dropcontent {
  display: block;
}

.dropcontent input {
  color: #000000;
  font-weight: 700;
  padding: 4px;
  text-decoration: none;
  display: inline;
}

.dropcontent label, a {
  color: #000000;
  font-weight: 400;
  padding: 4px;
  display: inline;
}



/*
CODE & AGREEMENT STAGE LEGENDS
  From timeline-v-A|B|C.js:
    var stageColors = ["#377eb8","#ffff33","#ff7f00","#4daf4a","#e41a1c","#a65628","#984ea3","#000"];
    var stageValues = ["Pre", "SubPar", "SubComp", "Imp", "Cea", "Other", "FrCons", "Ren"];
*/
table {
  margin-top: 5px;
  margin-left: 4px;
}
table#legend{
  pointer-events: none;
}
table td {
  text-align: left;
}
td, tr {
  padding: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  line-height: 10px;
}
table#Codes tr:hover {
  background-color: #838383;
}
/* Agreement Stages */
td#Pre {
  background-color: #8dd3c7;
}
td#SubPar {
  background-color: #ffffb3;
}
td#SubComp {
  background-color: #fdb462;
}
td#Imp {
  background-color: #b3de69;
}
td#Cea {
  background-color: #fb8072; /*#e41a1c;*/
}
td#Other {
  background-color: #8c8c8c;
}
td#FrCons {
  background-color: #80b1d3;
}
td#Ren {
  background-color: #bebada;
}
/* Codes (colors match map's flowers) */
td#paxHrFra.color{ /*HrFra*/
  background-color: #f46c38;
}
td#paxPol.color{
  background-color: #f5003d;
}
td#paxPolps.color{
  background-color: #01557a;
}
td#paxEps.color{
  background-color: #7a56a0;
}
td#paxMps.color{
  background-color: #029680;
}
td#paxTerps.color{
  background-color: #fbdd4b;
}
td#paxTjMech.color{
  background-color: #fc96ab;
}
td#paxGeWom.color{
  background-color: #59c9df;
}
