/*
CSS style for the main page with a grid layout of the iframes for
each visualization and selecter (7 in total)
*/

* {
  shape-rendering: crispEdges;
}

html{
  background-color: #dee3e8; /*c4c4c4;*/
  margin: 8px;
  /* padding-left: 20px; */
  padding-right: 20px;
  padding-left: 10px;
}
/* body {
  margin-top: -20px;
} */

.content {
  min-height: calc(100vh - 80px);
}

h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #4f545e;
  pointer-events: none;

}
h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 14px;
  color: #4f545e;
}
h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 8px;
  color: #4f545e;
}
h4 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 0px;
  color: #4f545e;
}
p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4f545e;
  display: block;
  padding-top: 10px;
  padding-right: 30px;
  margin-bottom: -10px;
}
ol, li {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4f545e;
  display: block;
}
li {
  margin-top: 4px;
}

.footer {
  height: 30px;
}

footer, footer p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4f545e;
  display: block;
  margin-top: 20px;
  padding-bottom: 2px;
}

footer a, p a {
  color: #4f545e;
}
footer a:hover, p a:hover {
  color: black;
}
