/*
CSS grid layout for Agreement Sequence Comparison
*/

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; /*[col0] 10px [col1] 15% [col2] 17% [col3] 10px [endcol];  /*10px 1fr 1fr 1fr 1fr 1fr 1fr 10px;*/ */ */
  /* grid-template-rows: auto auto auto auto auto auto auto auto auto auto; /*[row0] 10px [row1] 10% [row2] 20% [row3] 70% [endrow]; */ */
  grid-template-areas:
    /* 'header header header header header header header' */
    'selecter2 timeline-v1 timeline-v1 timeline-v2 timeline-v2 timeline-v3 timeline-v3'
    'selecter2 timeline-v1 timeline-v1 timeline-v2 timeline-v2 timeline-v3 timeline-v3'
    'selecter2 timeline-v1 timeline-v1 timeline-v2 timeline-v2 timeline-v3 timeline-v3'
    'selecter2 timeline-v1 timeline-v1 timeline-v2 timeline-v2 timeline-v3 timeline-v3'
    'selecter2 timeline-v1 timeline-v1 timeline-v2 timeline-v2 timeline-v3 timeline-v3';
    grid-gap: 10px;
      align-content: stretch;
      justify-content: stretch;
}
.grid-container > div {
  color: black;
  text-align: left;
  padding: 10px;
}

.item-e {
  grid-area: selecter2;
  grid-column: 1 / 2;
  grid-row: 4 / 120;
  min-width: 368.433px;
}
.item-f {
  grid-area: timeline-v1;
  grid-column: 2 / 4;
  grid-row: 1 / 116;
}
.item-g {
  grid-area: timeline-v2;
  grid-column: 4 / 6;
  grid-row: 1 / 116;
}
.item-h {
  grid-area: timeline-v3;
  grid-column: 6 / 8;
  grid-row: 1 / 116;
}
