/*Grid layout*/

.grid-container {
	display: grid;
	grid-template-columns: 310px 1fr /*20%*/;
	grid-template-rows: 140px 1fr 25%;
	width: 100vw;
	height: 100vh;
	align-content: stretch;
	justify-content: stretch;
	overflow: hidden;
}

#header {
	grid-column: 1;
	grid-row: 1;

	z-index: 1;
	padding: 0 15px 0 10px;
	pointer-events: none; /*make sure map works*/
}

#sidebar {
	grid-column: 1;
	grid-row: 2;

	padding: 10px 15px 10px 10px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: none; /*make sure map works*/
}

#timeline-top {
	grid-column: 2;
	grid-row: 3;

	min-height: 0;
	position: relative;
}

#info-box {
	grid-column: 1;
	grid-row: 3;

	padding: 10px 15px 10px 10px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#map {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;

	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999;
	z-index: 0;
}

#filterContainer {
	padding: 6px;
	box-shadow: 0px 2px 9px #c7c7c7;
	width: 100%;
	background-color: #fff;
	pointer-events: all;
}

#expandFilters {
	margin: 15px 0 5px 0;
}

hr {
	height: 1px;
	border: none;
	color: #999;
	background-color: #999;
}

/*
Map
*/

.land {
	fill: #fff;
	/*stroke: #555;*/
	stroke: #9f9f9f;
}

.land.hover {
	/*stroke: #000;*/
	fill: #dae4ed;
}

#dotG {
	pointer-events: none;
}

/*glyph inner circle*/
#dotG circle {
	fill: #555; /*#888*/
	fill-opacity: 1;
}

#bgRect {
	fill: #f1f1f1;
	fill-opacity: 0.7;
}

.popupBgCircle {
	fill: #fff; /*3A3A3A*/
}

.popupGlyphCircle {
	fill: #555;
	pointer-events: none;
}

.glyphHighlightCircle {
	fill: transparent;
}

.glyphHighlightCircle.hover {
	fill: #eee;
}

.glyphHighlightCircle.selected {
	fill: #eee;
	stroke: #333;
}

.popupGlyphPetal {
	pointer-events: none;
}

.popupHeading {
	text-anchor: middle;
	font-size: 20px;
	font-weight: bold;
}

.popupSortButtons circle,
.popupSplitButtons circle {
	fill: #333;
	stroke: none;
}

.popupSortButtons circle:hover,
.popupSplitButtons circle:hover {
	fill: #555;
}

.popupSortButtons circle.selected,
.popupSplitButtons circle.selected {
	fill: steelblue;
}

.popupSortButtons text,
.popupSplitButtons text {
	fill: #fff;
	text-anchor: middle;
	font-weight: bold;
	pointer-events: none;
}

.popupSortCodeCircle.selected {
	stroke: #555;
	stroke-width: 3;
}

.popupSortCodeCircle:hover {
	stroke: #555;
	stroke-width: 1;
}

.popupSortCodeCircle.selected:hover {
	stroke: #555;
	stroke-width: 3;
}

.popupBackgroundSpiral {
	fill: none;
	stroke: #ccc;
}

.popupDateLabel text {
	text-anchor: middle;
	dominant-baseline: middle;
}

#closeButton {
	fill: #ddd;
	fill-opacity: 1;
	pointer-events: none;
}

#closeButton.hover {
	fill: #ccc;
}

.closeButtonLines {
	pointer-events: none;
	stroke: #555;
	stroke-width: 3;
	stroke-linecap: round;
	fill: none;
}

.zoomButton rect {
	fill: #fff;
	stroke: #555;
	stroke-width: 1;
}

.zoomButton rect:hover {
	fill: #ccc;
	stroke: #000;
}

.zoomButton line {
	stroke: #000;
	stroke-width: 2;
	pointer-events: none;
}

/*Timeline*/

.agtTimelineBlock {
	cursor: pointer;
	fill: #555;
}

.agtTimelineBlock.hover {
	fill: #ccc;
}

.codeLine {
	stroke-linejoin: round;
	stroke-width: 2.5;
	opacity: 0.8;
	fill: none;
	pointer-events: none;
}

.codeLine.background {
	opacity: 0.1;
}

.voronoiCell {
	/*stroke: black; (uncomment to see voronoi cells)*/
	fill: transparent;
}

.count {
	font-size: 10px;
	font-weight: bold;
	text-anchor: middle;
	pointer-events: none;
}

#info-box .selectSection {
	margin: 0;
}

#timeline-top .charts {
	display: block;
	width: 100%;
	height: 100%;
}

#selectTimeline {
	position: absolute;
	top: 10px;
	right: 10px;
}

.tooltipText {
	text-anchor: middle;
	text-shadow: 0 1px 0 #eee, 1px 0 0 #eee, 0 -1px 0 #eee, -1px 0 0 #eee;
}

.popup.land {
	fill: #768ead;
}
.hidden {
	display: none;
}

/*hide sorting buttons*/
g.popupSortButtons {
	display: none;
}

g.popupSplitButtons {
	transform: translate(50, 0);
}
