/*------------------------------------------------------------------------------
  Grid Layout
------------------------------------------------------------------------------*/

.grid-container {
	display: grid;
	grid-template-columns: 310px 1fr; /*200px;*/
	grid-template-rows: 140px 1fr 25%;
	width: 100vw;
	height: 100vh;
	align-content: stretch;
	justify-content: stretch;
	overflow: hidden;
}

#title {
	grid-column: 1;
	grid-row: 1;

	z-index: 1;
	padding: 0 15px 0 10px;
	pointer-events: none; /*make sure map works*/
}

#sidebar {
	grid-column: 1;
	grid-row: 2;

	padding: 10px 15px 10px 10px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: none; /*make sure map works*/
}

#sidebar.visible {
	pointer-events: all;
}

#timeline {
	grid-column: 2;
	grid-row: 3;

	min-height: 0;
	position: relative;
}

#infobox {
	grid-column: 1;
	grid-row: 3;

	padding: 10px 15px 10px 10px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#map {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;

	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999;
	z-index: 0;

	/*light blue water*/
	background-color: #e0e7ec;
}

#labG {
	pointer-events: none;
}

/*#mapsidebar {
	grid-column: 3;
	grid-row: 1 / span 2;
	background-color: steelblue;
}*/

#filterContainer {
	padding: 6px;
	box-shadow: 0px 2px 9px #c7c7c7;
	width: 270px;
	background-color: #fff;
	pointer-events: all;
}

#expandFilters {
	margin: 15px 0 5px 0;
}

/*------------------------------------------------------------------------------
  Map
------------------------------------------------------------------------------*/

.land {
	fill: #f4f4f3; /*#fff;*/
	stroke: #9f9f9f;
}

/*.land.hover {
	fill: #dae4ed;
}*/

/*glyph inner circle*/
.glyphContainer circle {
	fill: #667a8a;
	fill-opacity: 0.8;
}

.glyphContainer circle.glyphHighlightCircle {
	fill: transparent;
}

.glyphContainer.hover .glyphHighlightCircle {
	fill: #eee;
}

.glyphContainer.selected .glyphHighlightCircle {
	fill: #eee;
	stroke: #333;
}

.zoomButton rect {
	fill: #fff;
	stroke: #555;
	stroke-width: 1;
}

.zoomButton rect:hover {
	fill: #ccc;
	stroke: #000;
}

.zoomButton line {
	stroke: #000;
	stroke-width: 2;
	pointer-events: none;
}

/*------------------------------------------------------------------------------
  Timeline
------------------------------------------------------------------------------*/

.agtTimelineBlock {
	cursor: pointer;
	fill: #555;
}

.agtTimelineBlock.hover {
	fill: #ccc;
}

.codeLine {
	stroke-linejoin: round;
	stroke-width: 2.5;
	opacity: 0.8;
	fill: none;
	pointer-events: none;
}

.codeLine.background {
	opacity: 0.1;
}

.voronoiCell {
	/*stroke: black; (uncomment to see voronoi cells)*/
	fill: transparent;
}

.count {
	font-size: 10px;
	font-weight: bold;
	text-anchor: middle;
	pointer-events: none;
}

#timeline .charts {
	display: block;
	width: 100%;
	height: 100%;
}

#selectTimeline {
	position: absolute;
	top: 10px;
	right: 10px;
}

.tooltipText {
	text-anchor: middle;
	text-shadow: 0 1px 0 #eee, 1px 0 0 #eee, 0 -1px 0 #eee, -1px 0 0 #eee;
}

#natG rect {
	fill: #fff; /*#ccc;*/
	opacity: 0.7;
}

#natG text {
	dominant-baseline: hanging;
	font-size: 16px;
	text-anchor: middle;
}

#natG text.heading {
	font-weight: bold;
	text-anchor: middle;
}

#natG text.spiralLabel {
	dominant-baseline: central;
	font-weight: normal;
	font-size: 14px;
}

#natG path.backgroundLine {
	fill: transparent;
	stroke: #ccc;
	stroke-width: 1px;
}

.cityLabel circle {
	fill: #666;
}

.cityLabel.major circle {
	stroke: #666;
	stroke-width: 2px;
	fill: transparent;
}

.cityLabel text {
	fill: #666;
	font-size: 12px;
	dominant-baseline: central;
}

.countryLabel text {
	font-size: 15px;
	font-weight: bold;
	fill: #333;
	text-anchor: middle;
}

#pathYEM {
	fill: #fff;
}

/*path.governorate {
	fill: transparent;
	stroke: #bbb;
	stroke-dasharray: 2px;
}
*/
/*path.yemen {
	stroke: red;
}
*/
