  body { 
  font-family: 'Karla', sans-serif;
}
circle:hover {
  stroke-width: 10px;
}
  .container {
    width: 100%;
  }

body a {
 // color: #FFFFFF;
}

#events {
//  color: #fff;
}

a:link {
//  color: #fff;
  text-decoration: underline;
}

body.arabic #timeline p, body.arabic #timeline h4, body.arabic #timeline .date {
  text-align: right;
  font-family: 'Amiri', sans-serif
}

body.english {
  text-align: left;
}

#overview {
  position: fixed;
  height: 100%;
  width: 450px;
  padding-left: 20px;
}

a.arabic, a.english {
  background: none !important;
  padding: 0 !important;
}

#tooltip {
  position: fixed;
  background: darkgrey;
  padding: 2px 5px;
  width: auto;
  opacity: 0;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.years text {
  font-family: sans-serif;
  //fill: white;
  font-size: 8pt;
  
}

.years text, .filters text, .circles circle {
  cursor: pointer;
}

#timeline {
  margin-left: 450px;
  //color: white;
  padding-top: 50px;
  width: 800px;
}

#timeline .items div {
  margin-bottom: 5px;
}

#timeline .items div div {
  display: inline-block;
  padding:10px;
}

span.date {
  display: block;
}

.Event h4 {font-size: 2em; margin: 0; font-weight: 700;}
.Event p {font-size: 1em; margin: 0;}

#timeline div.intro {
  background: rba(0,0,0,0) !important;
  text-align: center;
  width: 80%;
  margin: 100px auto;
  line-height: 1.5em;
}

#timeline div a {
  background: rgba(255,255,255,.7);
  color: black;
  padding: 0 5px;
}

div.intro #start {
  background: white;
  padding: 2px 5px;
  color: black !important;
  font-weight: bold;
  border-radius: 4px
}



i#next {
  bottom: 10px;
  position: fixed;
  left: 55%;
  display: block;
  padding: 10px;
  font-size: 2em;
  border-radius: 50px;
  background: rgba(0,0,0,.5)
}

i#previous {
  top: 10px;
  position: fixed;
  display: none;
  padding: 10px;
  font-size: 2em;
  border-radius: 50px;
  background: rgba(0,0,0,.5);
}

i#next:hover, i#prev:hover  {
  background: rgba(255,255,200,.5)
  color: black;
}

.trigger {
  position: fixed;
  top: 10px;
  left: 60px;
  color: white;
}

.last {
  margin-bottom: 150px !important;
}

.filters text {
-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

#form {
  position: fixed;
  padding: 10px;
  opacity: 0;
  background: white;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}