/*
Style for Select iFrame
*/
form {
  background-color: #ffffff;
  color: white;
  /* padding: 4px; */
  border: none;
}
form:hover {
  background-color: #f1f1f1;
}
p, a, label {
  color:black;
  /* padding: 3px 4px; */
  font-size: 12px;
  text-decoration: none;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
}

a#Reset{
  text-decoration: underline;
}
