/*
Style for Select iFrame
*/
* {
  shape-rendering: crispEdges;
}

html {
  /* background-color: #c4c4c4; */
}
html, body {
  height: 95%;
}

h1 {
  color:black;
  font-size: 12px;
  text-decoration: none;
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-weight: bolder;
}
p, a, label {
  color:black;
  font-size: 12px;
  text-decoration: none;
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 20px;
}
a {
  text-decoration: underline;
}
a.pdf, a.cod {
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
input {
  margin-left: 8px;
}

a#SelectAllCodes:hover, a#DeselectAllCodes:hover, p.filterViews a:hover{
  color: #ffffff;
}

svg {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

          -webkit-flex: 16.66%;
             -moz-flex: 16.66%;
              -ms-flex: 16.66%;
                  flex: 16.66%;
}

g {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

          -webkit-flex: 16.66%;
             -moz-flex: 16.66%;
              -ms-flex: 16.66%;
                  flex: 16.66%;

}
foreignObject {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

/*
DROPDOWNS
*/
.dropbtn {
  background-color: #737373;
  color: silver;
  padding: 5px;
  /* margin: 2px; */
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  border: 1px solid silver;
}
.dropbtn:hover {
  background-color: #838383;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 2px;
}
/*
YEARS DROPDOWN
*/
.TimeContent {
  display: none;
  position: absolute;
  background-color: silver;
  width: 100%;
  overflow: auto;
  padding: 4px;
  max-height: 250px;
  z-index: 1;
}
.dropdown:hover .TimeContent {
  display: block;
}
.TimeContent input {
  color: #000000;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  display: inline;
}
.TimeContent label, a {
  color: #000000;
  font-weight: normal;
  padding: 4px;
  display: inline;
}
/*
CON (COUNTRY & ENTITY) DROPDOWN
*/
.ConDropBtn {
  width: 100%;
}
.ConContent {
  display: none;
  position: absolute;
  background-color: silver;
  min-width: 250px;
  overflow: auto;
  max-height: 250px;
  padding: 4px;
  z-index: 1;
}
.dropdown:hover .ConContent {
  display: block;
}
.ConContent input {
  color: #000000;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  display: inline;
}
.ConContent label, a {
  color: #000000;
  font-weight: normal;
  padding: 4px;
  display: inline;
}

/* CODES (FILTER) DROPDOWN*/
.CodeContent {
  display: none;
  position: absolute;
  background-color: silver;
  min-width: 250px;
  overflow: auto;
  padding: 4px;
  z-index: 1;
}
.dropdown:hover .CodeContent {
  display: block;
}
.CodeContent input {
  color: #000000;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  display: inline;
}
.CodeContent label, a {
  color: #000000;
  font-weight: normal;
  padding: 4px;
  display: inline;
}
.CodeDropBtn {
  width: 100%;
}

/*
CODE & AGREEMENT STAGE LEGENDS
  From timeline-v-A|B|C.js:
    var stageColors = ["#377eb8","#ffff33","#ff7f00","#4daf4a","#e41a1c","#a65628","#984ea3","#000"];
    var stageValues = ["Pre", "SubPar", "SubComp", "Imp", "Cea", "Other", "FrCons", "Ren"];
*/
table td {
  font-family: "Helvetica", sans-serif;
  text-align: left;
}
td, tr {
  padding: 4px;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
}
td.color {
  border: 0.5px solid black;
}
/* Agreement Stages */
td#Pre {
  background-color: #8dd3c7;
}
td#SubPar {
  background-color: #ffffb3;
}
td#SubComp {
  background-color: #fdb462;
}
td#Imp {
  background-color: #b3de69;
}
td#Cea {
  background-color: #fb8072; /*#e41a1c;*/
}
td#Other {
  background-color: #8c8c8c;
}
td#FrCons {
  background-color: #80b1d3;
}
td#Ren{
  background-color: #bebada;
}
/* Codes (colors match map's flowers) */
td#paxHrGen{
  background-color: #f46c38;
}
td#paxPol{
  background-color: #f5003d;
}
td#paxPolps{
  background-color: #01557a;
}
td#paxEps{
  background-color: #7a56a0;
}
td#paxMps{
  background-color: #029680;
}
td#paxTerps{
  background-color: #fbdd4b;
}
td#paxTjMech{
  background-color: #fc96ab;
}
td#paxGeWom{
  background-color: #59c9df;
}


/*CODE BUTTONS
button.btn {
  color: black;
  padding: 5px;
  margin: 2px;
  width: 65%;
  cursor: pointer;
  opacity: 0.6;
  border: 0.5px solid black;
  text-align: left;
}
a.btn {
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: lighter;
}*/
