/*
Flexbox column setup
*/
* {
  box-sizing: border-box;
  shape-rendering: crispEdges;
}
[class*="col-"]{
  float: left;
  height: 100%;
  /* padding-left: 10px; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width:25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width:66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
Content
*/
html {
  margin: 2;
  float: left;
  font-family: "Roboto", sans-serif;
  background-color: #c4c4c4;
}
html, body {
  width: 100%;
  height: 100%;
  margin:0;
}
.header {
  color: #000000;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  height: 160px;
}
hr {
  display: block;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #b7b7b7;
  padding-right:20px;
}
iframe {
  border: none;
}
#vert-timelines p, #map p {
  padding: 10px;
}

/*
Text
*/
h1 {
  font-weight: bolder;
  font-size: 10px;
  color: steelblue;
}
h2 {
  font-weight: normal;
  font-size: 15px;
}
p {
  font-weight: normal;
  font-size: 12px;
  padding-left: 0px;
}
a {
  color: #005796; /*#b5e1ff;*/
  text-decoration: none;
}

/*
Flexboxes
*/
#flex-container {
  flex-wrap: wrap;
  margin-top:0;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;

  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1 1 auto;

}
#sub-container {
  /* display: flex; */
  flex-wrap: nowrap;
  /* flex-direction: row; */
  /* height: 100%; */
  margin-top:0;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;

  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
          flex: 1 1 auto;

}

#left {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin-left: 12px;
  margin-top: -8px;

  -webkit-flex: 16.66%;
     -moz-flex: 16.66%;
      -ms-flex: 16.66%;
          flex: 16.66%;
}
#right {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  /* min-height: -webkit-min-content; */
  overflow: auto;
  padding: 0px;
  padding-right: 20px;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:         flex;

  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-flex: 83.33%;
     -moz-flex: 83.33%;
      -ms-flex: 83.33%;
          flex: 83.33%;
}

#mini-t{
  height:15%;
  /* min-height: -webkit-min-content; */
  flex-shrink:0;
}
#expanded-t{
  height:45%;
  flex-shrink:0;
}
#map{
  height:85%;
  min-height: -webkit-min-content;
}
#vert-timelines {
  /* height:85%; */
  padding-bottom: 30px;
  min-height: -webkit-min-content;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #c4c4c4;
}
footer a {
  font-weight: 50;
  font-size: 10px;
}
