html, body {
  margin: 2;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

line {
  stroke: red;
}

path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.tick line {
  stroke: blue;
}

g.tick text {
  font-size: 14px;
  stroke: #191919;
}

g.hidden line,
g.hidden path {
  display: none;
}
