* {
  shape-rendering: crispEdges;
}

/*
TEXT
*/
p, input {
  color:black;
  font-size: 12px;
  text-decoration: none;
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}
p.expl {
  color:black;
  font-size: 10px;
  text-decoration: none;
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}

.description {
  color:black;
  font-size: 10px;
  text-decoration: none;
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}

/*
TIMELINE
*/
button.horizTimeView {
  background-color: #737373;
  padding: 5px;
  margin: 2px;
  width: auto;
  cursor: pointer;
  opacity: 1;
  border: 1px solid silver;
}
button.horizTimeView_current, button.horizTimeView {
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: silver;
  text-decoration: none;
  text-align: left;
}
button.horizTimeView:hover{
  background-color: #838383;
}
button.horizTimeView_current{
  background-color: #838383;
  padding: 5px;
  margin: 2px;
  width: auto;
  cursor: pointer;
  opacity: 1;
  border: 1px solid silver;
}

#chart{
  display: flex;
  flex-shrink:0;
}
#chart {
  padding-top: 30px;
}
#chart.col-9 g.tick text {
  font-size: 12px;
  font-weight: normal;
  color: #bfbfbf;
}
g.xaxis path.domain {
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
g.xaxis g.tick line {
  stroke: black;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
g.xaxis g.tick text {
  font-weight: normal;
}
g.xaxis#dat g.tick text {
  text-anchor: start;
  transform: rotate(45deg);
}
/* .zoom {
  cursor: zoom-in,zoom-out;
  fill:none;
  pointer-events: all;
} */
.tooltip {
  background-color: #ffffff;
  width: auto;
  text-align: center;
  padding-left: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: 50;
  z-index: 1;
  pointer-events: none !important;
}
